$color-primary: #D11001;

$color-light-grey: #F8F7F6;
$color-dark-grey:#333;


$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;

$box-shadow: 5px 7px 10px rgba($color-black, 0.6);
$default-color: $color-dark-grey;

