.header {
    text-align: left;
    position: relative;
    margin-bottom: 10rem;
  
  
    &__text-box{
        position: absolute;
        bottom: 8rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 20rem;
        & .btn{
            align-self: flex-end;
            margin-right: 12rem;
        }
    }
   &__tagline{
       background-color: $color-dark-grey;
       align-self: center;
       padding-left: 3rem;
        width: 55rem;
        // height: 8rem;
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);

       & .heading-primary--main{
           display: inline;
        border-bottom: 1px solid $color-light-grey;
       }
       
   }

   &-team{
      background-color: orangered;
      height: 50rem;

      & .header__text-box{
          bottom: 0rem;
      }
   }
   &-portfolio{
       background-image: url(../../img/portfolio/dairy-dunkin-jimmy/DD-Winder-06.jpg);
       background-size: cover;
       height: 75rem;
   }
   &-about{
    background-image: url(../../img/portfolio/winder-eye/eye-md-wide.jpg);
    background-size: cover;
    height: 50rem; 
   }
   &-card{
       width: 80vw;
       margin: 0 auto;
   }
 
 }