.navigation{
    overflow: hidden;
   position: fixed;
   top: 0;
   width:100%;
   z-index: 22222222222220;
   background-color: $color-white;
   box-shadow: 0 5px 10px rgba($color-black, .3);
   padding: 5px 0;
   
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 10rem;
        margin-right: 10rem;
        @include respond (tab) {
            margin-left: 5rem;
            margin-right: 5rem;

         }
    }
    &__logo-box{
        @include respond (tab){

            width: 25rem;
        }
    }
  
    
    &__list{
        display: flex;
        list-style: none;
    }
    &__item{
        &:not(:last-child){
            margin-right: 2rem;
        }
    }
   &__number{
       padding-top: 1rem;
   }
    &__link,
    &__number{
        &:link,
        &:visited{
            text-decoration: none;
            color: $default-color;
            transition: all .2s;
            font-size: 1.6rem;
            font-weight: 500;
            &:hover{
                color: $color-primary;
            }
        }

        @include respond (tab) {
            display: none;
        }


    }

    &__menu{
        display: none;
        background-color: orangered;
        &--button{
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        &--icon{
            height: 3rem;
            width: 3rem;
            transition: all .2s;
            &:hover{
                fill: $color-primary;
            }
        }
        @include respond (tab) {
            display: inline;
            // margin-right: 2rem;
            padding-top: 2rem;
            &--icon{
                height: 5rem;
                width: 5rem;
            }
        }
    }


}
