.contLeft-pic{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: auto 10rem auto 10rem;

    & .paragraph{
        padding-left: 5rem;
    }

    &__left,
    &__img-box{
        flex: 0 1 45%;
    }

    &__img-box{
        position: absolute;
        width: 70rem;
        right: 1rem;
    }
}