.section-why-us{
  
}

.section-general-contracting{
   
}

.section-carousel{
    position: relative;
    margin: 10rem auto;

    .carousel {
        margin-bottom: 5rem;
        &__text-box{
            position: absolute;
            z-index: 30;
            height: 35rem;
            top: 50%;
            left: 15rem;
            transform: translateY(-50%);
        }
        &__list{
            list-style: none;
            padding-left: 4rem;
            margin-top: 3rem;
        }
        &__item{
            font-size: $default-font-size;
            line-height: 1.7;
        }
           & .amp-carousel-button{
               border-radius: 50%;
               height: 5rem;
               width: 5rem;
           } 
       }
   
}